<div class="well well-warning" style="display: inline-block;">
	<h2>易信插件</h2>
	<p>
		<b>主页:</b><a href ="{:sp_plugin_url('Demo://Index/index')}" target="_blank" >访问</a>
	</p>
	<p>
		<b>后台管理:</b><a href ="{:sp_plugin_url('Demo://AdminIndex/index')}" target="_blank" >访问</a>
	</p>
	<p>
		<b>插件根目录:</b>__PLUGINROOT__
	</p>

	<p>
		<b>插件模板根目录:</b>__PLUGINTMPL__
	</p>

	<p>
		<b>token:</b>{$yichat_token}
	</p>
	<p>
		<b>对接url:</b>{$yichat_url}
	</p>
	<p>
		<b>appid:</b>{$yichat_appid}
	</p>
	<p>
		<b>appsecrect:</b>{$yichat_appsecrect}
	</p>
</div>
