<admintpl file="header" />
</head>
<body class="J_scroll_fixed">
	<div class="wrap J_check_wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:sp_plugin_url('Forms://AdminIndex/index')}">通用表单</a></li>
			<li class="active"><a href="{:sp_plugin_url('Forms://FormsAttribute/index',array('forms_id'=>$forms_data['id']))}">管理[ {$forms_data.title|msubstr=0,10} ]的属性</a></li>
			<li><a href="{:sp_plugin_url('Forms://FormsAttribute/add',array('forms_id'=>$forms_data['id']))}">添加[ {$forms_data.title|msubstr=0,10} ]的属性</a></li>
		</ul>
		<form method="post" class="J_ajaxForm" action="#">
		
			
			<table class="table table-hover table-bordered table-list">
				<thead>
					<tr>
						<th width="16"><label><input type="checkbox" class="J_check_all" data-direction="x" data-checklist="J_check_x"></label></th>
						<th width="50">ID</th>
						<th>标题</th>
						<th>字段名</th>
						<th>类型</th>
						<th>是否必填</th>
						<th>是否显示</th>
						<th>更新时间</th>
						<th width="120">操作</th>
					</tr>
					<php>$type=array('单行文本','多行文本','单选','多选','下拉','时间');$is_must=array('否','是');$show=array('隐藏','显示');</php>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
						<td><input type="checkbox" class="J_check" data-yid="J_check_y" data-xid="J_check_x" name="ids[]" value="{$vo.link_id}"></td>						
						<td>{$vo['id']}</td>
						<td>{$vo.title}</td>
						<td>{$vo.name}</td>
						<td>{$type[$vo['type']]}</td>
						<td>{$is_must[$vo['is_must']]}</td>
						<td>{$show[$vo['is_show']]}</td>
						<td>{$vo.mtime|date="Y-m-d",###}</td>
						
						<td>
							<a href="{:sp_plugin_url('Forms://FormsAttribute/edit',array('id'=>$vo['id'],'forms_id'=>$forms_data['id']))}">修改</a> |
							<a href="{:sp_plugin_url('Forms://FormsAttribute/del',array('id'=>$vo['id'],'forms_id'=>$forms_data['id']))}" class="J_ajax_del">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
				<tfoot>
					<tr>
						<th width="16"><label><input type="checkbox" class="J_check_all" data-direction="x" data-checklist="J_check_x"></label></th>
						<th width="50">ID</th>
						<th>标题</th>
						<th>字段名</th>
						<th>类型</th>
						<th>是否必填</th>
						<th>是否显示</th>
						<th>更新时间</th>
						<th>操作</th>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
	<script src="__ROOT__/statics/js/common.js?"></script>
</body>
</html>